.git
.github
.idea
.vscode
.cursor

node_modules
vendor
public/build

.env
.env.*
!.env.example

storage/logs/*.log
storage/framework/cache/data/**
storage/framework/sessions/**
storage/framework/views/**

.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml

*.md
!README.md
